<div class="container">
  <% @board.errors.full_messages.each do |message| %>
    <ul>
      <li><%= message %></li>
    </ul>
  <% end %>
  <h1>Edit Board</h1>
  <%= form_with(model: @board, url: board_path(@board.id), local: true, method: 'patch') do |f| %>
    <div>
      <%= f.label :name, 'Name' %>
    </div>
    <div>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :description, 'Description' %>
    </div>
    <div>
      <%= f.text_area :description, class: 'textarea' %>
    </div>
    <div>
      <%= f.submit 'Submit', class: 'btn-primary' %>
    </div>
  <% end %>
</div>