.container
  - @board.errors.full_messages.each do |message|
    %ul
      %li= message
  %h1 New Board
  = form_with(model: @board, url: boards_path, local: true, method: 'post') do |f|
    %div
      = f.label :name, 'Name'
    %div
      = f.text_field :name
    %div
      = f.label :description, 'Description'
    %div
      = f.text_area :description, class: 'textarea'
    %div
      = f.submit 'Submit', class: 'btn-primary'
