<div class="container">
  <div class="board">
    <div class="board_title">
      <h1><%= @board.name %></h1>    
    </div>
    <div class="board_content">
      <p><%= @board.description %></p>
    </div>
    <% if user_signed_in? && current_user.has_written?(@board) %>
      <div class="board_select">
        <p><%= link_to 'edit', edit_board_path(@board.id)%></p>
        <p><%= link_to 'delete', board_path, local: true, data: { method: 'delete', confirm: '本当に削除しますか？'} %></p>
      </div>
    <% end %>
  </div>
  <div class="task">
    <% @tasks.each do |task| %>
      <div class="task_field">
        <h2><%= task.title %></h2>
        <p><%= task.content %></p>
      </div>
    <% end %>
    <div class="task_add">
      <p><%= link_to 'Add tasks', new_board_tasks_path(@board), class: 'btn-secondary' %></p>
    </div>
  </div>
</div>