<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  </head>

  <body>
    <header class= 'header'>
      <div class="header_contents">
        <div class="header_contents_title">
          <%= link_to root_path do %>
            <h2>Boards</h2>
          <% end %>
        </div>
        <div class="header_contents_menu">
          <% if user_signed_in? %>
            <ul>
              <li><%= link_to 'Log out', destroy_user_session_path, data: { method: 'delete'} %></li>
            </ul>
          <% else %>
            <ul>
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
              <li><%= link_to 'Sign in', new_user_session_path %></li>
            </ul>
          <% end %>
        </div>      
      </div>
    </header>
    <% if flash.present? %>
      <% flash.each do | key, value | %>
        <p class="#{key}"><%= value %></p>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
